body {
    font-family: 'Inter', sans-serif;
}

.info {
    font-family: 'Inter', sans-serif;
    color: rgb(33, 30, 40);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
    background-color: whitesmoke;
    border-radius: 15px;
    width: 600px;
    height: 350px;
    padding: 15px;
    margin: auto;
}

.navigators {
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: auto;
}